In [115]:
import pandas as pd
df = pd.read_csv('../data/BNB.csv')
df = df.drop_duplicates()

               Price        Volume    Market_cap
Date
2017-11-09  0.002387  1.224287e+06  1.564042e+08
2017-11-10  0.002044  9.904228e+05  1.339685e+08
2017-11-11  0.001915  7.076430e+05  1.254706e+08
2017-11-12  0.001804  8.147892e+05  1.182352e+08
2017-11-13  0.002018  8.949856e+05  1.323864e+08
...              ...           ...           ...
2025-02-17  0.238578  3.105406e+08  2.053995e+10
2025-02-18  0.238920  2.824324e+08  2.056878e+10
2025-02-19  0.242526  1.945916e+08  2.087879e+10
2025-02-20  0.246462  1.938979e+08  2.121688e+10
2025-02-21  0.237649  2.858865e+08  2.045763e+10

[2662 rows x 3 columns]

In [114]:
print(df.shape)
print(df.info())
print(df.describe())

(2662, 3)
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2662 entries, 2017-11-09 to 2025-02-21
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Price       2662 non-null   float64
 1   Volume      2662 non-null   float64
 2   Market_cap  2662 non-null   float64
dtypes: float64(3)
memory usage: 83.2 KB
None
             Price        Volume    Market_cap
count  2662.000000  2.662000e+03  2.662000e+03
mean      0.067518  7.626019e+08  5.593635e+09
std       0.053229  1.010501e+09  4.704019e+09
min       0.001804  1.649305e+04  1.182352e+08
25%       0.025090  1.545515e+08  1.689873e+09
50%       0.061447  4.217434e+08  5.176266e+09
75%       0.088615  1.044114e+09  7.447814e+09
max       0.425968  1.301873e+10  3.675717e+10

In [106]:
missing = df.isna().sum()
missing_pct = (missing / len(df) * 100).round(2)

missing_summary = pd.concat([missing, missing_pct], axis=1, keys=['count', 'pct'])
print(missing_summary)

            count   pct
Date            0  0.00
Price           2  0.07
Volume         22  0.79
Market_cap     75  2.69

In [107]:
# When pre-processign the table, would be robust to drop rows with missing values, unless they are less than 5% of the total rows

init_rows, _ = df.shape
df_dropped = df.dropna()
drop_rows, _ = df_dropped.shape

change = 100 - (drop_rows / init_rows) * 100
print(f"Dropped {change}% of rows")

if change < 5:
    df = df_dropped
else:
    print("Not dropping any rows")

Dropped 2.6891358910003618% of rows

In [108]:
df

                           Date       Price        Volume    Market_cap
0     2025-02-21 00:00:00 UTC+0  647.006360  5.932072e+08  9.954591e+10
1     2025-02-20 00:00:00 UTC+0  658.002017  4.392372e+08  1.012377e+11
2     2025-02-19 00:00:00 UTC+0  652.756991  5.785377e+08  1.004307e+11
3     2025-02-18 00:00:00 UTC+0  647.553994  6.508925e+08  9.963016e+10
4     2025-02-17 00:00:00 UTC+0  666.924447  5.698604e+08  1.026104e+11
...                         ...         ...           ...           ...
2711  2017-09-20 00:00:00 UTC+0    0.166628  4.068762e+01  1.666279e+07
2712  2017-09-19 00:00:00 UTC+0    0.168334  3.878927e+00  1.683342e+07
2713  2017-09-18 00:00:00 UTC+0    0.173491  6.001767e+00  1.734912e+07
2714  2017-09-17 00:00:00 UTC+0    0.154041  1.467859e+01  1.540413e+07
2715  2017-09-16 00:00:00 UTC+0    0.107251  1.051223e+00  1.072506e+07

[2714 rows x 4 columns]

In [109]:
df

                           Date       Price        Volume    Market_cap
0     2025-02-21 00:00:00 UTC+0  647.006360  5.932072e+08  9.954591e+10
1     2025-02-20 00:00:00 UTC+0  658.002017  4.392372e+08  1.012377e+11
2     2025-02-19 00:00:00 UTC+0  652.756991  5.785377e+08  1.004307e+11
3     2025-02-18 00:00:00 UTC+0  647.553994  6.508925e+08  9.963016e+10
4     2025-02-17 00:00:00 UTC+0  666.924447  5.698604e+08  1.026104e+11
...                         ...         ...           ...           ...
2711  2017-09-20 00:00:00 UTC+0    0.166628  4.068762e+01  1.666279e+07
2712  2017-09-19 00:00:00 UTC+0    0.168334  3.878927e+00  1.683342e+07
2713  2017-09-18 00:00:00 UTC+0    0.173491  6.001767e+00  1.734912e+07
2714  2017-09-17 00:00:00 UTC+0    0.154041  1.467859e+01  1.540413e+07
2715  2017-09-16 00:00:00 UTC+0    0.107251  1.051223e+00  1.072506e+07

[2714 rows x 4 columns]

In [110]:
df = df.set_index('Date').sort_index()
df.dtypes

Price         float64
Volume        float64
Market_cap    float64
dtype: object

In [111]:
df

                                Price        Volume    Market_cap
Date
2017-09-16 00:00:00 UTC+0    0.107251  1.051223e+00  1.072506e+07
2017-09-17 00:00:00 UTC+0    0.154041  1.467859e+01  1.540413e+07
2017-09-18 00:00:00 UTC+0    0.173491  6.001767e+00  1.734912e+07
2017-09-19 00:00:00 UTC+0    0.168334  3.878927e+00  1.683342e+07
2017-09-20 00:00:00 UTC+0    0.166628  4.068762e+01  1.666279e+07
...                               ...           ...           ...
2025-02-17 00:00:00 UTC+0  666.924447  5.698604e+08  1.026104e+11
2025-02-18 00:00:00 UTC+0  647.553994  6.508925e+08  9.963016e+10
2025-02-19 00:00:00 UTC+0  652.756991  5.785377e+08  1.004307e+11
2025-02-20 00:00:00 UTC+0  658.002017  4.392372e+08  1.012377e+11
2025-02-21 00:00:00 UTC+0  647.006360  5.932072e+08  9.954591e+10

[2714 rows x 3 columns]

In [112]:
df.to_csv('../preprocessed/BNB.csv')